<table>
<tr>
<td><strong>Username: </strong></td>
<td><%= text_field 'user', 'uid' %></td>
</tr>
<tr>
<td><strong>Password: </strong></td>
<td><%= password_field 'user', 'password' %></td>
</tr>
</table>

