<h1>Change password</h1>
<%= form_with :url => update_password_users_path, :method => :patch do |f| %>
  <table>
    <tr>
      <td>New password:</td><td><%= f.password_field 'password' %></td>
    </tr>
    <tr>
      <td>Confirm new password:</td><td><%= f.password_field 'password_confirm' %></td>
    </tr>
  </table>
  <%= f.submit "Update password" %>
<% end %>

