<div id="toolbar">
<% if mode == "edit" %>
 <%= link_to 'Show', crop %> |
<% elsif mode == 'show' %>
 <%= link_to 'Edit', edit_crop_path(crop) %> |
<% end %>

 <%= link_to 'Crops List', crops_path %>

</div>

