<div id="image_bucket">
<% images.each do |img| %>
  <% if (obj.class.name == "Crop") %>
    <%= link_to(image_tag(img.file.thumb.url), set_portrait_crop_path(obj, :authenticity_token => form_authenticity_token, :image_id => img.id), :remote => true, :method => :patch)  -%></a>&nbsp;
  <% elsif (obj.class.name == "Location") %>
    <%= link_to(image_tag(img.file.thumb.url), set_portrait_location_path(obj, :authenticity_token => form_authenticity_token, :image_id => img.id), :remote => true, :method => :patch)  -%></a>&nbsp;
  <% end %>
<% end %>
</div>

